body{
    background-color: floralwhite;
    font-family: "adobe-caslon-pro", serif;
    font-weight: 400;
    font-style: normal;
    height: 100vh;    
    opacity: 100%;
}
:root {
    --grey: rgb(183, 179, 179);
}
/* Title/intro section */
.title{
    opacity: 100;
    animation: title 4s 12s 1 forwards;
    color: var(--grey);
    height: 68%;
}
.image-grid img{
    max-width: 12%;
}
.image-grid{
    margin-top: 5%;
    margin-left: 3%;
    position: relative;
    top: -600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    z-index: -10000;
}
.right-header{
    text-align: right;
    margin-right: 4%;
    position: relative;
    font-style: normal;
    left: 64%;
    animation: text-italic 2s 2s infinite forwards;
}
@keyframes text-italic{
    0% {font-style: normal;}
    50% {font-style: italic;}
    100% {font-style: normal;}
}

#six, #twelve, #sixteen{
    animation: imop1 2s infinite forwards;
}
#ten, #fifteen{
    animation: imop2 3s infinite forwards;
}
#four, #nine{
    animation: imop3 2s infinite forwards;
}
#eight, #eleven{
    animation: imop4 2s infinite forwards;
}
 #three, #one, #fourteen{
    animation: imop5 2s infinite forwards;
}
#two, #seven, #thirteen{
    animation: imop6 3s infinite forwards;
}
.plaque-container img {
    transition: opacity 0.1s ease-in-out; 
}



@keyframes imop1{
    0% {opacity:0%}
    50% {opacity: 20%}
    100% {opacity:0%}
}
@keyframes imop2{
    0% {opacity:20%}
    50% {opacity: 0%}
    100% {opacity:20%}
}
@keyframes imop3{
    0% {opacity:10%}
    50% {opacity: 0%}
    100% {opacity:10%}
}
@keyframes imop4{
    
    0% {opacity:0%}
    50% {opacity: 10%}
    100% {opacity:0%}
}
@keyframes imop5{
    0% {opacity:15%}
    50% {opacity: 0%}
    100% {opacity:15%}
}
@keyframes imop6{
    0% {opacity:0%}
    50% {opacity: 15%}
    100% {opacity:0%}
}
.quote{
    font-size: 120px;
    width: 95%;
    margin-top: 5%;
    line-height: 102px;
    margin-left: 3%;
    margin-right: 2%;
}
.author{
    font-size: 50px;
    text-align: left;
    width: 30%;
    margin-left: 3%;
}

.body-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 40px;
    left: -30px;
}
.body-text-one, .body-text-two, .body-text-three{
    width: 28%;
    line-height: 18px;
    position: relative;
    top: 0px;
    opacity: 100;
    animation: text 8s 1.7s 1 forwards;
}




/* Plaques section */
.section-header{
    margin-left: 3%;
    margin-top: 6%;
}
.plaques img{
    max-width: 90%;
}
.plaques {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the minmax value for image size */
    gap: 30px; /* Space between grid items */
    margin-left: 1.5%;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-bottom: 45px;
}

.plaque-container {
    position: relative;
    display: inline-block; /* Ensures that images stay in a grid layout */
    margin-bottom: -10%;
}

.plaque-text {
    position: absolute;
    bottom: 30%; /* Change this value to move it higher above the center */
    left: 45%;
    transform: translateX(-50%);
    padding: 5px;
    opacity: 0; 
    font-style: italic;
    line-height: 20px;
    font-size: 18px;
    transition: opacity 0.3s; 
    text-align: center;
    width: 65%; 
    pointer-events: none; 
}


.plaque-container:hover .plaque-text {
    opacity: 1; /* Show the text on hover */
    pointer-events: auto; /* Enable pointer events only on hover */
}

.plaque-container:hover {
    cursor: pointer; 
}


.hamburger1 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 60px;
    border: 1px solid black;
    border-radius: 10px;
    width: 40px;
    height: 40px;
  }
  
  .line1 {
    font-size: 40px;
    position: relative;
    top: 4px;
    text-decoration: none;
    color: black;
  }
  .hamburger1:hover{
    border: 1px solid var(--grey);
    color: var(--grey);
  }
  .line1:hover{
    color: var(--grey);
  }
  
  